p {
  line-height: 2rem;
}

.container-contact {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1.5px solid #52528C;
  border-bottom: 1.5px solid #52528C;
}

.jumbotron-programs {
    position: relative;
    padding: 40px 0;
    margin-bottom: 0px;
    color: #333;
    text-align: center;
    background-color: #e2e2e2;

}

.jumbotron-skills {
    position: relative;
    padding: 40px 0;
    color: #333;
    text-align: center;

}

.img-thumbnail-programs {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: all 1s ease-in-out;
  max-width: 100%;
  max-height: auto;
  margin: 0rem;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 1px, solid, #fff;
}

.margin-text {
  margin-right: 2rem;
  margin-left: 2rem;
}

.card-body-mock {
  .card-body
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-top: none;
  filter: drop-shadow(0 0 7px #737373);
  max-width: 50%;
  max-height: auto;
}


.card-body-skills {
  .card-body
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-top: none;
  filter: drop-shadow(0 0 7px #737373);
  max-width: 80%;
  max-height: auto;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
  padding-top: 1rem;
  margin-bottom: 1rem;
  vertical-align: middle;
}

.card {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
